@import url("https://cdn.syncfusion.com/ej2/material.css");
// If you want to override variables do it here

// Import CoreUI styles
@import "../../scss/style.scss";

// If you want to add something do it here

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
  background: white;
  box-shadow: 1px 1px #8e8887;

  border-radius: 4px;
}
